body{
  background: #f4f0e8;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
}

h1 {
  border-style:solid hidden solid;
  font-family: 'Permanent Marker', cursive;
  font-size: 400%;
  text-align: center;
}

.baby{
  border: inset 10px #FF0000;
  float: left;
  margin-left: 230px;
  margin-top: 15px;
  width: 31%;
}

.marioItaly{
  border: outset 10px #FF0000;
  float: right;
  margin-right: 230px;
  margin-top: 15px;
  width: 30%;
}

.mostImportant{
  margin: 30px;
  text-align: center;
}

h2{
 font-family: 'Special Elite', cursive;
}

h3{
 font-family: 'Permanent Marker', cursive;
}

h5{
  font-family: 'Permanent Marker', cursive;
}

ul{
  font-family: 'Special Elite', cursive;
  line-height: 1.8;
  list-style-type: none;
  margin-left: -30px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  row-gap: 40px;
  justify-content: space-around;
}

.box1{
  border-style: none solid none solid;
  height: 314px;
  padding: 0px 25px 0px 25px;
  width: 375px;
}

.people{
  columns: 2;
}

.box2{
  border-style: none solid none solid;
  height: 226px;
  padding: 0px 25px 0px 25px;
}

.box3{
  border-style: none solid none solid;
  height: 285px;
  padding: 0px 25px 0px 25px;
  width: 300px;
}

.slang{
  columns: 2;
}

.box4{
  border-style: none solid none solid;
  height: 430px;
  margin-left: -10px;
  padding: 0px 25px 0px 25px;
  width: 300px;
}

.box5{
  border-style: none solid none solid;
  height: 343px;
  padding: 0px 25px 0px 25px;
  width: 300px;
}

.movies{
  columns: 2;
}

.box6{
  border-style: none solid none solid;
  height: 257px;
  padding: 0px 25px 0px 25px;
}

.box7{
  border-style: none solid none solid;
  height: 428px;
  margin-right: -30px;
  padding: 0px 25px 0px 25px;
  width: 300px;
}

.box8{
  border-style: none solid none solid;
  padding: 0px 25px 0px 25px;
  width: 80%;
}
